<div class="navBar">
    <a href="#title" id="logo">Page perfect.</a>
    <div class="spacer"></div>
    <div id="mobileNavigation" class="collapsedNav">
        <div class="mobileNavigationLink" onclick="expandNav()">
            <a href="/#offers" class="navLink">Nabídka</a>
        </div>
        <div class="mobileNavigationLink" onclick="expandNav()">
            <a href="/#aboutUs" class="navLink">O nás</a>
        </div>
        <div class="mobileNavigationLink" onclick="expandNav()">
            <a href="/#contact" class="navLink">Kontakt</a>
        </div>
        <div class="mobileNavigationLink" onclick="expandNav()">
            <a href="/blog" class="navLink">Blog</a>
        </div>
    </div>
    <div class="links">
        <a href="/#offers" class="navLink">Nabídka</a>
        <a href="/#aboutUs" class="navLink">O nás</a>
        <a href="/#contact" class="navLink">Kontakt</a>
        <a href="/blog" class="navLink">Blog</a>
        <i class="icofont-navigation-menu navLink" onclick="expandNav()"></i>
    </div>

</div>